<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/chris/Downloads/DemoVideo/Lab 11 Demo (1).jpg</key>
	<data>
	Ym9va/ACAAAAAAQQMAAAAM7hhoswBMGorfMXgY998OsowCMcI/AYVQBmNj+3eAlh7AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGNocmlzAAAACQAAAAEB
	AABEb3dubG9hZHMAAAAJAAAAAQEAAERlbW9WaWRlbwAAABMAAAABAQAATGFiIDExIERl
	bW8gKDEpLmpwZwAUAAAAAQYAABAAAAAgAAAAMAAAAEQAAABYAAAACAAAAAQDAAC2AgsA
	AAAAAAgAAAAEAwAA4MULAAAAAAAIAAAABAMAAPHFCwAAAAAACAAAAAQDAAARKiUAAAAA
	AAgAAAAEAwAA6yolAAAAAAAUAAAAAQYAAJAAAACgAAAAsAAAAMAAAADQAAAACAAAAAAE
	AABBv8t8vL68+BgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAD
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAGB/MxwAAAAIAAAAAAQAAEG/mGc6Shs9JAAAAAEBAAAxQTI3RDA2
	OC03NTMxLTQzMTgtODY1NS1EOEQ1QzhDRUU3MzEYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAE
	EAAAdAAAAAAAAAAFEAAA4AAAAAAAAAAQEAAADAEAAAAAAABAEAAA/AAAAAAAAAACIAAA
	2AEAAAAAAAAFIAAASAEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
	AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAAAAABwAAALAEAAAAA
	AAARwAAAIAAAAAAAAAASwAAAPAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/chris/Downloads/DemoVideo/Lab 11 Demo (2).jpg</key>
	<data>
	Ym9va/ACAAAAAAQQMAAAAA9854dlFAymmdLO9D43GgvNNbi6rj2Au6kT/LqH5dBQ7AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGNocmlzAAAACQAAAAEB
	AABEb3dubG9hZHMAAAAJAAAAAQEAAERlbW9WaWRlbwAAABMAAAABAQAATGFiIDExIERl
	bW8gKDIpLmpwZwAUAAAAAQYAABAAAAAgAAAAMAAAAEQAAABYAAAACAAAAAQDAAC2AgsA
	AAAAAAgAAAAEAwAA4MULAAAAAAAIAAAABAMAAPHFCwAAAAAACAAAAAQDAAARKiUAAAAA
	AAgAAAAEAwAA8SolAAAAAAAUAAAAAQYAAJAAAACgAAAAsAAAAMAAAADQAAAACAAAAAAE
	AABBv8t8xSAZHhgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAD
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAGB/MxwAAAAIAAAAAAQAAEG/mGc6Shs9JAAAAAEBAAAxQTI3RDA2
	OC03NTMxLTQzMTgtODY1NS1EOEQ1QzhDRUU3MzEYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAE
	EAAAdAAAAAAAAAAFEAAA4AAAAAAAAAAQEAAADAEAAAAAAABAEAAA/AAAAAAAAAACIAAA
	2AEAAAAAAAAFIAAASAEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
	AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAAAAABwAAALAEAAAAA
	AAARwAAAIAAAAAAAAAASwAAAPAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/chris/Downloads/DemoVideo/Lab 11 Demo (3).jpg</key>
	<data>
	Ym9va/ACAAAAAAQQMAAAAB32p4Ey+x1RxVjKEirLOt253PwiYmvebxmA8vGwLIgs7AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGNocmlzAAAACQAAAAEB
	AABEb3dubG9hZHMAAAAJAAAAAQEAAERlbW9WaWRlbwAAABMAAAABAQAATGFiIDExIERl
	bW8gKDMpLmpwZwAUAAAAAQYAABAAAAAgAAAAMAAAAEQAAABYAAAACAAAAAQDAAC2AgsA
	AAAAAAgAAAAEAwAA4MULAAAAAAAIAAAABAMAAPHFCwAAAAAACAAAAAQDAAARKiUAAAAA
	AAgAAAAEAwAA+ColAAAAAAAUAAAAAQYAAJAAAACgAAAAsAAAAMAAAADQAAAACAAAAAAE
	AABBv8t8yyguchgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAD
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAGB/MxwAAAAIAAAAAAQAAEG/mGc6Shs9JAAAAAEBAAAxQTI3RDA2
	OC03NTMxLTQzMTgtODY1NS1EOEQ1QzhDRUU3MzEYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAE
	EAAAdAAAAAAAAAAFEAAA4AAAAAAAAAAQEAAADAEAAAAAAABAEAAA/AAAAAAAAAACIAAA
	2AEAAAAAAAAFIAAASAEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
	AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAAAAABwAAALAEAAAAA
	AAARwAAAIAAAAAAAAAASwAAAPAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/chris/Downloads/DemoVideo/Lab 11 Demo (4).jpg</key>
	<data>
	Ym9va/ACAAAAAAQQMAAAAK3hrxUzIkAc+6wTr9lUrAM02vx7v2H2+2vkyictpkIf7AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGNocmlzAAAACQAAAAEB
	AABEb3dubG9hZHMAAAAJAAAAAQEAAERlbW9WaWRlbwAAABMAAAABAQAATGFiIDExIERl
	bW8gKDQpLmpwZwAUAAAAAQYAABAAAAAgAAAAMAAAAEQAAABYAAAACAAAAAQDAAC2AgsA
	AAAAAAgAAAAEAwAA4MULAAAAAAAIAAAABAMAAPHFCwAAAAAACAAAAAQDAAARKiUAAAAA
	AAgAAAAEAwAAASslAAAAAAAUAAAAAQYAAJAAAACgAAAAsAAAAMAAAADQAAAACAAAAAAE
	AABBv8t80gH8uxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAD
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAGB/MxwAAAAIAAAAAAQAAEG/mGc6Shs9JAAAAAEBAAAxQTI3RDA2
	OC03NTMxLTQzMTgtODY1NS1EOEQ1QzhDRUU3MzEYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAE
	EAAAdAAAAAAAAAAFEAAA4AAAAAAAAAAQEAAADAEAAAAAAABAEAAA/AAAAAAAAAACIAAA
	2AEAAAAAAAAFIAAASAEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
	AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAAAAABwAAALAEAAAAA
	AAARwAAAIAAAAAAAAAASwAAAPAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/chris/Downloads/DemoVideo/Lab 11 Demo (5).jpg</key>
	<data>
	Ym9va/ACAAAAAAQQMAAAABzsKreh6KQVvr3eQwEmE8LwhwU0fxAj3JaK3ULRgwx47AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGNocmlzAAAACQAAAAEB
	AABEb3dubG9hZHMAAAAJAAAAAQEAAERlbW9WaWRlbwAAABMAAAABAQAATGFiIDExIERl
	bW8gKDUpLmpwZwAUAAAAAQYAABAAAAAgAAAAMAAAAEQAAABYAAAACAAAAAQDAAC2AgsA
	AAAAAAgAAAAEAwAA4MULAAAAAAAIAAAABAMAAPHFCwAAAAAACAAAAAQDAAARKiUAAAAA
	AAgAAAAEAwAA0yslAAAAAAAUAAAAAQYAAJAAAACgAAAAsAAAAMAAAADQAAAACAAAAAAE
	AABBv8t+3SJwihgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAD
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAGB/MxwAAAAIAAAAAAQAAEG/mGc6Shs9JAAAAAEBAAAxQTI3RDA2
	OC03NTMxLTQzMTgtODY1NS1EOEQ1QzhDRUU3MzEYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAE
	EAAAdAAAAAAAAAAFEAAA4AAAAAAAAAAQEAAADAEAAAAAAABAEAAA/AAAAAAAAAACIAAA
	2AEAAAAAAAAFIAAASAEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
	AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAAAAABwAAALAEAAAAA
	AAARwAAAIAAAAAAAAAASwAAAPAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/chris/Downloads/DemoVideo/Lab 11 Demo (6).jpg</key>
	<data>
	Ym9va/ACAAAAAAQQMAAAAADVEPhYLnCfABKuVqeh/5AAUoX1KHdt/JRJRAs4lCQt7AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGNocmlzAAAACQAAAAEB
	AABEb3dubG9hZHMAAAAJAAAAAQEAAERlbW9WaWRlbwAAABMAAAABAQAATGFiIDExIERl
	bW8gKDYpLmpwZwAUAAAAAQYAABAAAAAgAAAAMAAAAEQAAABYAAAACAAAAAQDAAC2AgsA
	AAAAAAgAAAAEAwAA4MULAAAAAAAIAAAABAMAAPHFCwAAAAAACAAAAAQDAAARKiUAAAAA
	AAgAAAAEAwAAzywlAAAAAAAUAAAAAQYAAJAAAACgAAAAsAAAAMAAAADQAAAACAAAAAAE
	AABBv8uAPfm+nxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAD
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAGB/MxwAAAAIAAAAAAQAAEG/mGc6Shs9JAAAAAEBAAAxQTI3RDA2
	OC03NTMxLTQzMTgtODY1NS1EOEQ1QzhDRUU3MzEYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAE
	EAAAdAAAAAAAAAAFEAAA4AAAAAAAAAAQEAAADAEAAAAAAABAEAAA/AAAAAAAAAACIAAA
	2AEAAAAAAAAFIAAASAEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
	AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAAAAABwAAALAEAAAAA
	AAARwAAAIAAAAAAAAAASwAAAPAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/chris/Downloads/DemoVideo/Lab 11 Demo.jpg</key>
	<data>
	Ym9va+wCAAAAAAQQMAAAAOw1LKT9LIiAtddE5YT3hQAuh1XC868S77Q5xqEZ7Vrm6AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGNocmlzAAAACQAAAAEB
	AABEb3dubG9hZHMAAAAJAAAAAQEAAERlbW9WaWRlbwAAAA8AAAABAQAATGFiIDExIERl
	bW8uanBnABQAAAABBgAAEAAAACAAAAAwAAAARAAAAFgAAAAIAAAABAMAALYCCwAAAAAA
	CAAAAAQDAADgxQsAAAAAAAgAAAAEAwAA8cULAAAAAAAIAAAABAMAABEqJQAAAAAACAAA
	AAQDAADFKiUAAAAAABQAAAABBgAAjAAAAJwAAACsAAAAvAAAAMwAAAAIAAAAAAQAAEG/
	y3yOejwIGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAMAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
	CAAAAAQDAAAAYH8zHAAAAAgAAAAABAAAQb+YZzpKGz0kAAAAAQEAADFBMjdEMDY4LTc1
	MzEtNDMxOC04NjU1LUQ4RDVDOENFRTczMRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABw
	AAAAAAAAAAUQAADcAAAAAAAAABAQAAAIAQAAAAAAAEAQAAD4AAAAAAAAAAIgAADUAQAA
	AAAAAAUgAABEAQAAAAAAABAgAABUAQAAAAAAABEgAACIAQAAAAAAABIgAABoAQAAAAAA
	ABMgAAB4AQAAAAAAACAgAAC0AQAAAAAAADAgAADgAQAAAAAAAAHAAAAoAQAAAAAAABHA
	AAAgAAAAAAAAABLAAAA4AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
